{% load static %}

<html lang="en-us" >
<head>
<title>Ncl_App</title>
<!--<link rel="stylesheet" type="text/css" href="{% static 'ncl_app/style.css' %}" />-->
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/base.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'admin/css/dashboard.css' %}" />
</head>

<body class=" dashboard app-ncl_app"
  data-admin-utc-offset="-18000">

<!-- Container -->
<div id="container">
    <!-- Header -->
    <div id="header">
        <div id="branding">
            <h1 id="site-name"><a href="/ncl_app/">Ncl App</a></h1>
        </div>
        <div id="user-tools">
                Welcome,
                <strong>player</strong>.
                <!--<a href="/">View site</a> /-->
                <!--<a href="/admin/password_change/">Change password</a> /-->
                <!--<a href="/admin/logout/">Log out</a>-->
        </div>
    </div>
    <!-- END Header -->

{% if league %}
     <div class="breadcrumbs">
        <a href="{% url 'ncl_app:index' %}">{{ league.name }}</a>
        &rsaquo;
        Regular Season
    </div>
{% else %}
    <h1>No league available</h1>
{% endif %}

{% if schedule_list %}
    <div id="content" class="colMS">
        <h1>Post Season
            <a href="{% url 'ncl_app:post_season_day' league.id %}"
               class="button" style="float:right"
               title="Regular Season play">Play Post Season
            </a>
        </h1>
        <div id="content-main">
            <div class="app-ncl_app module">
                <table border="3" cellpadding="10" cellspacing="10">
                    <tr>
                        {% for schedule in schedule_list %}
                            <th>{{ schedule.name }}</th>
                        {% endfor %}
                    </tr>
                    <tr>
                        {% for schedule in schedule_list %}
                            <td>
                                <table border="1" cellpadding="10" cellspacing="10">
                                    {% for day in schedule.sorted_day_set.all %}
                                        <tr>
                                            <th>Day {{ day.number }}</th>
                                        </tr>
                                        {% for match in day.match_set.all %}
                                            <tr>
                                                <td>{{ match.home_team.name }}<br>vs.<br>
                                                    {{ match.away_team.name }}</td>
                                            </tr>
                                        {% endfor %}
                                    {% endfor %}
                                </table>
                            </td>
                        {% endfor %}
                    </tr>
                </table>
            </div>
        </div>
    </div>
{% endif %}
</div>
<!-- END Container -->
</body>
</html>